<div class='about'>
  <div class='static-page-title'>AZ ASSISTRÓL</div>
  <div class='separator'></div>
  <div class='static-page-row'>
    <div class='static-page-row-title'>
      Mi az Assist?
    </div>
    <div class='static-page-row-content'>
      Az állam az adófizetők pénzéből előállított adatbázisokat, illetve a működéséről számot adó adatokat – ha közzé is teszi – a legtöbb esetben nem felhasználóbarát módon teszi. Egyes esetekben nagyon sokat kell kutatni a honlapon az egyébként elérhető adatok után, más helyzetekben sokat kattintani a letöltéshez, megint más esetekben pedig hiába könnyű az adat elérése, ha utána nem tudunk velük dolgozni, mert arra alkalmatlan formátumban tették őket közzé. Az Assist abban segít, hogy a különböző állami szervek honlapjain gyakran nehézkesen elérhető adatokat automatikusan frissítve, egyszerű Excel-adatbázisban tegye letölthetővé. Célunk, hogy a közérdekű adatok iránt érdeklődő újságírók, állampolgárok számára időt és energiát spóroljunk, továbbá, hogy az állami szervek számára pozitív példát mutassunk.
    </div>
  </div>
  <div class='static-page-row'>
    <div class='static-page-row-title'>
      Hogyan működik?
    </div>
    <div class='static-page-row-content'>
      Az Assist olyan kódokat használ, amely az állami szervek honlapjain található, különböző formában és nehézséggel elérhető közadatokat folyamatosan monitorozza és egy frissülés alkalmával az új adatokat egy Excel-táblázatba betölti. Azok az érdeklődők, akik igénylik, a frissülésekről értesítést kapnak e-mailben. Mivel az Assist egy prototípus, ezért a honlapon egyelőre csak egyes minisztériumok szerződései, bizonyos típusú közbeszerzések, a Nemzeti Kulturális Alap kifizetései és a Központi Statisztikai Hivatal egyes adatbázisai érhetők el. A későbbiekben a letölthető adatok körét bővítjük.
    </div>
  </div>
  <div class='static-page-row'>
    <div class='static-page-row-title'>
      Neked is van adatod? Oszd meg másokkal is!
    </div>
    <div class='static-page-row-content'>
      Az Assist arra is lehetőséget ad, hogy amennyiben rendelkezel saját gyűjtésű adattal, magad által előállított adatbázissal, úgy mindenki számára elérhetővé tedd. Ezt megteheted anonim módon is. Az általad feltöltött adatbázisokat egy előzetes moderálást követően tesszük nyilvánossá, miután meggyőződtünk arról, hogy a közzétenni kívánt adatbázis nem jogsértő-e (bővebben: <%= link_to 'jogi nyilatkozat', legal_notice_path %>). Mivel szeretnénk, ha az adatbázisok egységes formátumban, könnyen kezelhetően lennének elérhetőek, ezért mielőtt a megosztás mellett döntenél, arra kérünk, olvasd el ezt az egyszerű <%= link_to 'használati útmutatót', manual_path %>!
    </div>
  </div>
  <div class='static-page-row'>
    <div class='static-page-row-title'>
      Finanszírozás
    </div>
    <div class='static-page-row-content'>
      A projekt a <a href='https://www.digitalnewsinitiative.com' target='blank'>Google Digital News Initiative</a>  európai pályázatán 15 millió forintos támogatást nyert el, amely az Assist prototípusváltozatának elkészítésére volt elegendő. Amennyiben szeretnéd, hogy még több adat legyen elérhető, úgy kérünk, segítsd a <a href='https://transparency.hu/' target='blank'>Transparency International</a> munkáját.
    </div>
  </div>
</div>
