<div class='impressum'>
  <div class='static-page-title'>Impresszum</div>
  <div class='separator'></div>
  <div class='static-page-row'>
    <div class='static-page-row-title'>
      Projektfelelős
    </div>
    <div class='static-page-row-content'>
      Sebestyén Dia
    </div>
  </div>
  <div class='static-page-row'>
    <div class='static-page-row-title'>
      Ötlet
    </div>
    <div class='static-page-row-content'>
      Bátorfy Attila
    </div>
  </div>
  <div class='static-page-row'>
    <div class='static-page-row-title'>
      Finanszírozás
    </div>
    <div class='static-page-row-content'>
      Google DNI
    </div>
  </div>
  <div class='static-page-row'>
    <div class='static-page-row-title'>
      Felelős kiadó
    </div>
    <div class='static-page-row-content'>
      TRANSPARENCY INTERNATIONAL MAGYARORSZÁG ALAPÍTVÁNY
    </div>
  </div>
  <div class='static-page-row'>
    <div class='static-page-row-title'>
      Levelezési cím:
    </div>
    <div class='static-page-row-content'>
      1055 Budapest, Falk Miksa u. 30. 4. em. 2.
    </div>
  </div>
  <div class='static-page-row'>
    <div class='static-page-row-title'>
      Telefon
    </div>
    <div class='static-page-row-content'>
      +361/269-9534
    </div>
  </div>
  <div class='static-page-row'>
    <div class='static-page-row-title'>
      Kérdés esetén
    </div>
    <div class='static-page-row-content'>
      info kukac transparency.hu
    </div>
  </div>
</div>
