<div class='legal-notice'>
  <div class='static-page-title'>Jogi nyilatkozat</div>
  <div class='separator'></div>
  <div class='static-page-row'>
    <div class='static-page-row-content'>
      <span class='italic'>Saját forrású adatbázisok:</span> Bár elsődleges céljaink közé tartozik, hogy a honlapon csak valós adatokat tegyünk közzé, belátható, hogy ezt sokszor még a legnagyobb fokú gondosság, odafigyelés és körültekintés esetén sem lehet garantálni. Ennek az az egyszerű oka, hogy az adatokat nem mi gyűjtjük és nem is mi rendszerezzük, továbbá az adatok tartalmi helytállóságát sem mi ellenőrizzük. Mindeme feladatokat az állam látja el, míg mi csak felhasználóbarát formában másodközöljük az adatokat. Ezért az adatok valódiságáért nem tudunk felelősséget vállalni. Így amennyiben az eredeti, az állam által végrehajtott adatgyűjtésben hiba, következetlenség, pontatlanság fordul elő, úgy az rajtunk kívül álló és általunk nem kiküszöbölhető okból következett be. A közzétételt megelőzően minden adatbázist előzetesen megvizsgálunk, és igyekszünk kiszűrni az égbekiáltó hibákat. Az elírásokat, más hasonló pontatlanságokat, valamint az utólagos, akár visszamenőleges módosításokat igyekszünk követni és kiszűrni. Abban bízunk, hogy azok, akik a tőlünk letöltött adatbázisokkal dolgoznak, észreveszik a hibákat és felhívják a mi és az adatgazda figyelmét is erre. Az általunk alkalmazott technológia hiányosságainak következményeiért természetesen vállaljuk a felelősséget és igyekszünk minél hamarabb orvosolni az ebből adódó esetleges hibákat.
    </div>
  </div>
  <div class='static-page-row'>
    <div class='static-page-row-content'>
      <span class='italic'>Mások által közzétett adatbázisok:</span> A harmadik személy („más”) által feltöltött adatbázisok tartalmi helytállóságát, valódiságát, valamint a feltöltő által történt megszerzésének jogszerűségét egyáltalán nem tudjuk garantálni. A feltöltött adatbázisokat a közzétételt megelőzően a rendelkezésünkre álló eszközökkel, a legjobb tudásunk szerint ellenőrizzük, és akár tartalmi, akár jogi természetű kifogás merül fel – feltéve, hogy nem anonim feltöltés történt – értesítjük a felhasználót a felmerült kifogásokról. Az adatbázist feltölteni szándékozó harmadik személyeknek a feltöltést megelőzően nyilatkoznia kell arról, hogy a közzétenni tervezett adatbázis valós adatokat tartalmaz, jogszerűen került a birtokába és jogszerűen kerül sor a közzétételre is. Amennyiben bárki hitelt érdemlően felhívja a figyelmünket arra, hogy valamely adatbázis jogszerűtlenül került közzétételre, vagy jogsértő adatot tartalmaz, és az állítását megfelelően bizonyítja, úgy az érintett adatbázist haladéktalanul törölni fogjuk.
    </div>
  </div>
  <div class='static-page-row'>
    <div class='static-page-row-content'>
      A jogsértés útján megszerzett közérdekű információk közzétételét akkor vállaljuk, ha a közzétételt különösen fontosnak ítéljük és az adott közérdekű információ megszerzése érdekében megvalósított jogsértés elkövetője a 2010. évi CIV. törvény, az ún. médiaalkotmány vonatkozó rendelkezése értelmében nem lenne felelősségre vonható.
    </div>
  </div>



</div>
