<div class='static-page'>
  <%= render 'shared/header', categories: @categories, tab: 'categories_tab' %>
  <div class='page-content'>
    <div class='card'>
      <%= render page %>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
