.data-table {
  background-color: $white;
  border: solid 1px $border-grey;
  border-radius: 4px;
  height: 344px;
  margin: 9px 8px;
  min-width: 384px;
  position: relative;
  width: 48.5%;

  &-header {
    align-items: center;
    border-bottom: 1px solid $table-border-grey;
    display: flex;
    flex-direction: row;
    height: 52px;
    justify-content: flex-start;
    position: relative;
    top: 0;
    width: 100%;
  }

  &-title {
    margin-left: 16px;
    margin-right: 10px;

    > .data-table-title-link {
      color: $font-darkgrey;
      font-family: 'News Cycle';
      font-size: 18px;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        color: $tab-blue;
      }
    }
  }

  &-tag {
    border-radius: 100px;
    margin-left: 2px;
    margin-right: 2px;

    &-highlighted {
      background-color: $data-table-highlighted;
    }

    &-recent {
      background-color: $data-table-recent;
    }

    &-text {
      color: $white;
      font-size: 10px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 800;
      letter-spacing: normal;
      line-height: normal;
      padding: 5px 10px;
      text-transform: uppercase;
    }
  }

  &-date {
    align-items: center;
    color: $font-darkgrey;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-left: auto;
    margin-right: 16px;

    img {
      margin: 5px;
    }
  }

  &-footer {
    align-items: center;
    border-top: 1px solid $table-border-grey;
    bottom: 0;
    display: flex;
    flex-direction: row;
    height: 52px;
    justify-content: space-between;
    position: absolute;
    width: 100%;
  }

  &-buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 16px;

    >.link {
      text-decoration: none;
    }
  }

  .button {
    padding: 5px 8px;

    &-download {
      margin-right: 8px;
    }
  }

  &-info {
    margin-right: 16px;
    text-align: right;
  }
}

.data-table-show {
  .data-table {
    height: 800px;
    width: 99%;
  }
}
