<%= link_to new_data_table_path,  { remote: true, data: { toggle: 'modal', target: '#modal-window' }, class: 'upload-link' } do %>
  <div class='button button-blue'>
    <div class='button-title'>
      Feltöltés
    </div>
  </div>
<% end %>
