.manual {
  .static-page-row-title {
    margin-bottom: 20px;
  }

  img {
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 100%;
  }

  .download-img {
    margin-bottom: 35px;
    margin-top: 0;
    max-width: 850px;
  }

  .hints {
    margin-left: 25px;

    .hint {
      margin: 5px;
    }
  }
}
