$border-grey:            #ddd;
$button-blue:            #4a90e2;
$button-grey:            #6d6d6d;
$button-turquoise:       #48c4a8;
$content-bg:             #fafafa;
$data-table-highlighted: #ee3d69;
$data-table-recent:      #669edf;
$font-darkgrey:          #444;
$input-border-grey:      #c9d0d6;
$tab-blue:               #0476c7;
$table-bg-grey:          #f2f2f2;
$table-border-grey:      #eee;
$row-added-background:   #dff0d8;
$row-added-color:        #3c763d;
$row-deleted-background: #f2dede;
$row-deleted-color:      #a94442;

$white:                  #fff;
$red:                    #ff0000;
